[submodule "LaserOrderManage-server-submodule-config"]
	path = src/main/resources/LaserOrderManage-server-submodule-config
	url = https://github.com/AppLinkers/LaserOrderManage-server-submodule-config.git
	branch = main